@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --primary-blue: "#042A3F";
  --primary-red: "#F92B3B";
  --primary-yellow: "#FFEB34";
  --white: #fff;
  --primaryLightBlue: #387da1;
  --border-thin: rgba(128, 128, 128, 0.221);
  --box-shadow: "0 15px 25px rgba(0, 0, 0, 0.1)";
}

@font-face {
  font-family: 'Dejavu Sans';
  src: url('/fonts/DejaVuSans-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  font-family: Lato, sans-serif;
}

.fontLeto {
  font-family: Lato, sans-serif;
} 
.fontDejavu{
  font-family: 'Dejavu Sans', sans-serif !important;
}

.flexCenter {
  @apply flex justify-center items-center;
}

.flexBetween {
  @apply flex justify-between items-center;
}

.flexStart {
  @apply flex items-center justify-start;
}

.text-small {
  @apply text-sm font-medium;
}

.paddings {
  @apply lg:px-20 py-6 px-5;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border-radius: 10px;
}

/* Progress */

 .cssProgress-bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  background: var(--primary-blue);
  box-shadow: inset 0px -1px 2px rgba(0,0,0,0.1);
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  height: 20px;
  border-radius: 9px;
  width: 100%;
}

.cssProgress-success{
  background-color: #FFEB34  !important;
}

.cssProgress-active {
  animation: cssProgressActive 2s linear infinite;
  background-image: -webkit-linear-gradient(
    135deg,
    rgba(4, 42, 63, 0.225) 25%,
    transparent 25%,
    transparent 50%,
    rgba(4, 42, 63, 0.225) 50%,
    rgba(4, 42, 63, 0.225) 75%,
    transparent 75%,
    transparent
  );
  background-image: linear-gradient(
    -45deg,
    rgba(4, 42, 63, 0.225) 25%,
    transparent 25%,
    transparent 50%,
    rgba(4, 42, 63, 0.225) 50%,
    rgba(4, 42, 63, 0.225) 75%,
    transparent 75%,
    transparent
  );
  background-size: 35px 35px;
}



@-webkit-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-ms-keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes cssProgressActive {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}


/* Navbar */
.navbar {
  @apply py-4 px-4 md:px-10 bg-primary-red gap-4;
}

/* antd modal */
.ant-modal-content{
  border-radius: 2px !important;
}


/* React Phone Input */

.react-tel-input input {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  width: 100% !important;
  height: 2.5rem !important;
}
.react-tel-input .flag-dropdown  {
  border: 1px solid var(--border-thin) !important;
}
.react-tel-input .selected-flag {
  width: 40px !important;
}
.react-tel-input .selected-flag .flag {
  left: 25% !important;
}
.react-tel-input .country-list .search {
  display: flex !important;
  align-items: center !important;
  padding: 5px 0 5px 5px;
}
.react-tel-input .country-list .search-box {
  border: 1px solid var(--border-thin) !important;
  height: 2rem !important;
  font-family: Lato, sans-serif;
}

/* OTP form */
.otp-form input {
  background: var(--border-thin) !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 5px;
  text-align: center;
  margin-right: 8px !important;
  outline: none !important;
  border: 2px solid var(--border-thin);
  color: var(--white);
  font-size: 20px;
}



.loader {
  width: 40px;
  aspect-ratio: 1;
  color: #f03355;
  position: relative;
  background: radial-gradient(10px,currentColor 94%,#0000);
}
.loader:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background:
    radial-gradient(9px at bottom right,#0000 94%,currentColor) top    left,
    radial-gradient(9px at bottom left ,#0000 94%,currentColor) top    right,
    radial-gradient(9px at top    right,#0000 94%,currentColor) bottom left,
    radial-gradient(9px at top    left ,#0000 94%,currentColor) bottom right;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  animation: l18 1.5s infinite cubic-bezier(0.3,1,0,1);
}
@keyframes l18 {
   33%  {inset:-10px;transform: rotate(0deg)}
   66%  {inset:-10px;transform: rotate(90deg)}
   100% {inset:0    ;transform: rotate(90deg)}
}

.animated-image {
  transform: scale(1);
  animation: scaleUpDown 2s ease-in-out infinite;
}

@keyframes scaleUpDown {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.8);
  }
}

/* Confetti animation */
.confetti-container {
  /* width: 100vw; */
  /* height: 100vh; */
  /* background: #ffffff; */
  /* border:1px solid white; */
  /* display:fixed; */
  top:0px;
}
.confetti {
  position: absolute;
  top: -10px;
  border-radius: 50%;
  animation-fill-mode: forwards;
}

@keyframes confetti-1 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-50px) rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-100px) rotate(720deg);
  }
}

@keyframes confetti-2 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-25px) rotate(180deg);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px) rotate(360deg);
  }
}

@keyframes confetti-3 {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(25px) rotate(-180deg);
  }
  100% {
    opacity: 0;
    transform: translateY(50px) rotate(-360deg);
  }
}